.charactersPage {
  width: 100%;
  max-width: 312px;
  margin: 0 auto;
  padding-top: 92px;
  padding-bottom: 46px;
}
@media screen and (min-width: 768px) {
  .charactersPage {
    max-width: 1020px;
    padding-top: 86px;
    padding-bottom: 43px;
  }
}

.error {
  font-size: 20px;
  text-align: center;
  font-weight: 500;
  line-height: calc(30 / 20);
  letter-spacing: 0.15px;
  color: rgba(0, 0, 0, 0.87);
}
