.btnUp {
  border: none;
  cursor: pointer;
  z-index: 30;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(63, 229, 251);
  background: radial-gradient(
    circle,
    rgba(63, 157, 251, 0.802) 0%,
    rgb(70, 216, 252) 100%
  );
  border-radius: 50%;
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 25px;
  right: 25px;
  stroke: white;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btnUp:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 17px #01ffe699;
}

@media screen and (min-width: 768px) {
  .btnUp {
    width: 60px;
    height: 60px;
  }
}
